.textbox {
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}

.textbox::-webkit-scrollbar {
  display: none;
}

.currentCursor {
  @apply border-l-[3px];
  @apply border-thematicColor;
  animation: blink 0.75s ease infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    @apply border-thematicColor;
  }
}

.currentCursorRight {
  @apply border-r-[3px];
  @apply border-thematicColor;
  animation: blink 0.75s ease infinite;
}
